
<form class="form-inline float-right">
		<div class="form-group">
			<select name="a_Section" id="a_Section" class="form-control" style="border: none; outline: none">
				<option value="BSIT 2-1">BSIT 2-1</option>
				<option value="BSIT 2-2">BSIT 2-2</option>
			</select>
		</div>

		<div class="form-group">
			<input type="date" name="a_Date" id="a_Date" class="p-1" value="" style="border: none; outline: none">
		</div>
	</form>

	<br>
	<br>
	<br>
<div class="container">
	<table id="data">
		<thead>
			<tr>
				<th>Student Number</th>
				<th>Name</th>
				<th>Proof</th>
				<th>Remark</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

{{#script }}
	<script>
		table()

		$("#a_Date, #a_Section").on('change', table)

		function table() {
			$.getJSON(`/attendance/${$('#a_Section').val()}/${$('#a_Date').val()}`, function (queryResult) {
				if ( $.fn.DataTable.isDataTable('#data') ) {
					$('#data').DataTable().destroy();
				}

				$('#data').DataTable({
					responsive: true,
					autoWidth: false,
					data: queryResult,
					columns: [
						{ data: 'studentNumber' },
						{ data: 'name' },
						{ data: 'image', render: function(data) { return '<img src="uploads/' + data + '" height="150px">'} },
						{ data: 'isLate' }
					]
				})
			})
		}
	</script>
{{/script}}


