<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
	<div class="card" style="width: 40%;">
		<div class="card-body text-center">
			<div class="card-title">
				<h1>Error 404</h1>
			</div>
			<h2 class="card-text">
				This page doesn't exist.
			</h2>
			<a href="/" >Go somewhere that does</a>
		</div>
	</div>
</div>